.owl-carousel .item{
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}
body{
    background-color: rgb(85, 123, 134);
    
}
.container{
    background-color: rgb(72, 126, 114);
    outline-color: rgb(4, 65, 70);
}
.nv{
    border-radius: 50px;
    padding: 10px;
}
footer{
    background-color: rgb(85, 123, 134);
    height: 120px;

}
.nav{
    height: 10px;
   
}

.dog{
    height:60px;
}

